@import "../css/bootstrap";
@import "../css/font-awesome";
@import "../css/slick";

@import "_colors";
@import "_mixins";

html,
body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
  line-height: 2rem;
  background-color: $light-grey;
  color: $text-color;
  font-weight: 400;
}

.page {
  min-height: calc(100vh - 480px);
}

.loader-wrapper {
  position: fixed;
  z-index: 999;
  background: $white;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
}

.alert {
  border: none;
  font-size: 11pt;
  font-weight: 400;

  &.alert-danger {
    background: #fdeff0;
    color: #c55151;
  }

  &.alert-success {
    background: #f4fff7;
    color: #39904d;
  }
}

.btn {
  border: none;

  &.btn-color, &.btn-alternative {
    background: #EEE;
    color: #74777c;
    font-weight: 600;

    &:hover {
      color: $white;
    }
  }

  &.btn-checkout {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.25rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &:disabled, &.disabled {
      opacity: 0.4;
    }
  }

  &.btn-link,
  &.btn-link:active,
  &.btn-link:focus{
    padding: 0;
    color: $text-color;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
  }

  &.btn-link:hover {
    color: $text-black;
  }
}

.bg-white {
  background: $white;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.text-black {
  color: $text-black !important;
}

.circle {
  @include border_radius(50%);
}

.br-0 {
  @include border_radius(0 !important);
}

a,
a:active,
a:focus {
  color:$dark-blue;
  text-decoration:none
}

a:hover {
  color: $text-black;
  text-decoration: none;
}

::selection {
  background: $light-blue;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  margin: 0;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 24pt;
  color: $text-black;
  font-weight: 700;
}

h2 {
  font-size: 17pt;
}

h3 {
  font-weight: 900;
  font-size: 15pt;
  text-transform: none;
  color: $text-black;
}

h4 {
  font-size: 13pt;
  color: $text-black;
}

h5 {
  font-size: 13pt;
  text-transform: none;
  color: $text-black;
}

h6 {
  font-size: 11pt;
  text-transform: uppercase;
  color: $text-black;
}

strong {
  font-weight: 900;
}

.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.hover-grow:hover {
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -o-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

input.form-control {
  &::placeholder,
  &:-ms-input-placeholder{
    color: $text-color;
    opacity: 1;
  }

  &:focus {
    border-color: inherit;
    @include box_shadow(none);
    color: inherit;
  }
}

.form-check {
  line-height: 1.5rem;
  display: block;
}

.form-group label {
  color: $text-black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.wishlist-toggle {
  &.wish .filled,
  &.wish:hover .empty,
  &.un-wish .empty,
  &.un-wish:hover .filled {
    display: none;
  }

  &.wish .empty,
  &.wish:hover .filled,
  &.un-wish .filled,
  &.un-wish:hover .empty {
    display: initial;
  }
}

.col-card {
  margin-bottom: 2rem;

  h3 {
    padding: 1.5rem 0 1rem;
    border-bottom: solid 1px $light-grey;
    font-size: 16pt;

    &.text-lg {
      font-size: 21pt;
      padding: 1rem 0 1rem;
    }
  }

  .btn-change {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .table {
    th, td {
      border: none;
    }

    .total {
      th, td {
        padding-top: 1rem;
        border-top: solid 1px $light-grey;
        color: $text-black;
        font-weight: 900;
        font-size: 1.25rem;
      }
    }
  }
}

#scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10%;
  right: 3%;
  text-align: center;
  color: $white;
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
  line-height: 50px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.social-links ul {
  padding: 0;
}

.social-links ul li {
  background: $light-grey;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  margin-left: 1rem;
  text-align: center;
  display: inline-block;
  list-style: none;
}

.social-links ul li:hover,
.social-links ul li:hover > a {
  color: $white;
}

section {
  position: relative;

  .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.home-top-collection {
  position: relative;
  display: block;
  color: $text-color;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  .text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    z-index: 100;
    font-size: 20pt;
    font-weight: 100;
    letter-spacing: 0.5pt;
    line-height: 1em;
  }
}

.featured-collection {
  .text {
    display: block;
    font-size: 14pt;
    text-align: center;
    font-weight: 100;
  }
}

.promoted-products {
  .title {
    font-size: 36pt;
  }

  .subtitle {
    font-size: 16pt;
    font-weight: 100;
  }
}

.product-card {
  @include box_shadow(0 0 1.5rem -0.5rem rgba(0,0,0,0.25));

  .caption {
    background: $light-blue;
    color: $white;
    padding: 1rem;
    text-align: center;

    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      overflow-wrap: break-word;
      word-break: break-word;
      line-height: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box!important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      height: 3rem;
    }
  }

  .price {
    font-size: 14pt;
    line-height: 1;
    font-weight: 300;

    del, span {
      font-weight: 100;
      font-size: 10pt;
      line-height: 10pt;
    }
  }
}

.suppliers-section {
  background: $white;
  @include box_shadow(0 0 55px -50px $dark-blue);

  .title {
    font-weight: 100;
    font-size: 38pt;
    color: $dark-blue;
  }
}

.home-about-text {
  background: $light-blue;
  color: $white;
  font-size: 14pt;

  p {
    line-height: 2rem;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 18pt;
  }

  .btn-border {
    border: solid 1px $white;
    @include border_radius(0.25rem);
    color: $white;
    font-size: 14pt;
    letter-spacing: 1px;
  }
}

.projects-section {
  h2 {
    text-transform: none;
    font-size: 38pt;
    font-weight: 300;
  }

  .project-thumb {
    a {
      position: relative;
      width: 95%;
      margin-left: 2.5%;
    }

    .overlay-title {
      position: absolute;
      top: 50%;
      width: 70%;
      display: block;
      left: 15%;
      text-align: center;
      font-size: 16pt;
      color: #FFF;
      font-weight: 100;
      transform: translateY(-50%);
      opacity: 0;
      transition: ease 0.5s;
      z-index: 10;
    }

    a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: rgba(0,0,0,0.3);
      z-index: 5;
      opacity: 0;
      transition: ease 0.3s;
      width: 100%;
      height: 100%;
    }

    a:hover {
      .overlay-title, &::after{
        opacity: 1;
      }
    }
  }

  .slick-projects {
    position: relative;
    z-index: 2;
  }

  .projects-slick-navigation {
    width: 105%;
    margin-left: -3.75%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    font-size: 36pt;
    z-index: 0;

    ul {
      list-style: none;
      color: $light-blue;

      li:hover {
        color: $dark-blue;
        cursor: pointer;
      }
    }
  }
}



.product-box,
.article-box {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.product-box .product-img,
.article-box .article-img {
  position: relative;
  border: solid 1px #EEE;
  border-bottom: none;
}

.cart-item .product-img {
  position: relative;
  border: solid 1px #EEE;
}

.product-box .product-details,
.article-box .article-details {
  border: solid 1px #EEE;
  border-top: none;
  padding: 1rem 1rem 0.5rem 1rem;
  background: $white;
}
.product-box .product-details h6 {
  font-size: 10pt;
  font-weight: 100;
  color: #888;
  line-height: 16pt;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  max-width: 60%;
}

.product-box .product-img img,
.cart-item .product-img img,
.article-box .article-img img{
  width: 100%;
  height: auto;
}

.product-box .product-img .badge,
.cart-item .product-img .badge,
.article-box .article-img .badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  color: $white;
  line-height: 1rem;
}

.product-box .product-img .badge.new,
.cart-item .product-img .badge.new {
  left: 1rem;
  top: 1rem;
  right: auto;
  width: 3rem;
  height: 3rem;
  line-height: 2rem;
}

.article-box .article-img .badge {
  padding: 1rem 0.75rem;
  left: 0.5rem;
  right: auto;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 0.8rem;
  text-transform: uppercase
}

.product-box .product-img .badge.wishlist-toggle,
.cart-item .product-img .badge.wishlist-toggle {
  bottom: 0.5rem;
  left: auto;
  top: auto;
  background: $white;
  width: 2.5rem;
  height: 2.5rem;
  color: #ABABAB;
  line-height: 1rem;
}

.product-box .product-img .badge.wishlist-toggle:hover,
.cart-item .product-img .badge.wishlist-toggle:hover {
  color: $text-black;
}

.product-box .product-img .badge.wishlist-toggle.left {
  left: 0.5rem;
  right: auto;
}

.product-box .product-details .price,
.cart-item .price {
  text-transform: uppercase;
  font-size: 13pt;
  color: $text-black;
}

.product-box.horizontal {

}

.product-box.horizontal .product-img,
.product-box.horizontal .product-details {
  border: none;
  padding: 0;
}

.cart-item .price .available {
  font-size: 9pt;
}


.article-box .article-img {
  border: none;
}

.article-box .article-details {
  padding: 1rem 0.5rem;
  border: none;
}

.cart-item {
  padding-bottom: 2rem;
  border-bottom: solid 1px #EEE;
  margin-bottom: 2rem;
}

.cart-item .price span {
  margin-right: 1rem;
}

.cart-item .price strong {
  font-size: 1.25rem;
  color: $text-black;
}

.cart-item .price .form-control {
  margin-left: 1rem;
  width: 3rem;
  text-align: center;
  color: $text-black;
}

.cart-item .remove-from-cart,
.cart-item .wishlist-toggle {
  font-size: 1.5em;
  line-height: 1em;
}

.cart-item .product-info-list {
  display: flex;
  padding: 0;
  justify-content: start;
}

.cart-item .product-info-list li {
  list-style: none;
  margin-right: 2rem;
}

.cart-item .product-info-list li strong {
  color: $text-black;
}

.full-width-banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.full-width-banner.overlayed {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.full-width-banner.overlayed img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 340px;
}

.full-width-banner.overlayed .banner-overlay {
  background: rgba(0, 0, 0, 0.3);
  padding: 5rem 3rem;
  width: 100%;
  height: 340px;
  position: relative;
}

.full-width-slick .slide-img {
  height: auto;
}

.slick-slider {
  width: 100%;
}

.slick-navigation {
  position: absolute;
  top: 40%;
  right: 0;
  width: 100%;
}

.slick-navigation ul {
  list-style: none;
}

.slick-navigation li {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  font-size: 5rem;
  color: #666
}

.slick-navigation li.prev {
  left: 2rem;
}

.slick-navigation li.next {
  right: 2rem;
}

.vertical-slider {
  padding: 0;
}

.vertical-slider .sidebar {
  width: 10%;
  float: left;
  vertical-align: top;
}

.vertical-slider .content {
  width: 87%;
  margin-left: 3%;
  float: left;
  vertical-align: top;
}

.vertical-slider .slick-navigation {
  width: 87.5%;
}

.slick-vertical .slick-track {
  margin: -0.25rem 0;
}

.slick-vertical .slick-slide {
  margin: 0.25rem 0;
}

.product-section {
  .qty-cont {
    .input-group {
      border: solid 1px #000;
      border-radius: 0.25rem;
      overflow: hidden;
      background: none;

      button {
        background: none;
        border: none;
        padding: 1rem 1.25rem;
        font-size: 1.5rem;
        line-height: 1rem;
        font-weight: 300;
        color: $light-blue;
      }

      input {
        text-align: center;
        border: none;
        background: none;
        font-weight: 600;
        color: $light-blue;
      }
    }
  }

  .add-to-cart {
    font-weight: 600;
    height: 100%;
    background: $light-blue;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.1rem;
    @include border_radius(0);

    &:hover {
      background: $dark-blue;
    }
  }
}

.product-section h1 {
  font-weight: 500;
  font-size: 2rem;
}

.product-section .price {
  font-size: 12pt;
  border-top: solid 1px $light-grey;
  padding-top: 1rem;
  margin-top: 1rem;
}

.product-section .price del {
  color: $text-black;
  font-weight: 100;
  font-size: 1rem;
}

.product-section .price h3 {
  font-size: 2rem;
  font-weight: 500;
  color: $light-blue;
}

.product-section .price span {
  vertical-align: top;
  font-size: 70%
}

.product-section label {
  text-transform: uppercase;
  font-weight: 900;
  color: $text-black;
  margin-right: 1rem;
  font-size: 11pt;
}

.product-section .wishlist-toggle {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  margin: 1rem auto;
}

.product-section .tab-content .tab-pane {
  color: $text-black;
}

.product-section .nav-tabs {
  border: none;
}

.product-section .nav-tabs .nav-link {
  padding: 0 0 0.5rem 0;
  text-transform: uppercase;
  font-weight: 900;
  color: #ABABAB;
  margin-right: 2rem;
  border: none;
  font-size: 10pt;
}

.banner-section {
  overflow: hidden;

  .banner-text {
    font-size: 62pt;
    font-weight: 100;
    color: $white;
    
    @media (max-width: 1024px) {
      font-size: 32pt;
    }
  }
}

.banner-section img {
  width: 100%;
}

.metro-card {
  background: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    position: relative;
    display: block;
  }

  .card-body {
    position: absolute;
    bottom: 10%;
    left: 10%;
    text-align: center;
    width: 80%;
    background: rgba(255,255,255,0.9);

    .card-title {
      font-weight: 900;
      text-transform: uppercase;
      color: #000;
      font-size: 12pt;
    }
  }
}

.customer-form {
  @include box_shadow(0 0 2.5rem -1.5rem $medium-grey);
  @include border_radius(0.5rem);

  .alert {
    margin: 1rem 0 0 0;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .header {
    position: relative;

    &.secondary-header {
      margin-top: 1rem;
      text-align: center;
    }

    h3 {
      text-transform: uppercase;
    }

    .header-action {
      .btn {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        &.btn-logout {
          background: #b53c3c;
          text-decoration: none;
          font-weight: 900;
          text-transform: uppercase;
          color: $white;
          padding: 0.4rem 1rem;
          top: 1.35rem;
          right: 0;
          font-size: 10pt;
          line-height: 12pt;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  fieldset {
    label {
      color: #777;
      text-transform: uppercase;
      font-size: 11pt;
      letter-spacing: 2px;
      display: block;
      margin-top: 2rem;
    }

    .form-input {
      display: block;
      width: 100%;
      color: $text-black;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      background-clip: padding-box;
      border: 1px solid #999;
    }

    .form-controls {
      margin-top: 2rem;

      .btn {
        &.btn-submit {
          width: 80%;
          margin: 1rem auto;
          padding: 1rem;
          color: $white;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 1.25rem;
          opacity: .8;
          display: block;
          background: $light-blue;

          &:hover {
            opacity: 1;
          }
        }

        &.btn-link {
          text-align: center;
          display: block;
        }
      }
    }
  }

  .additional-controls {
    margin-top: 2rem;

    .btn {
      border: solid 1px #ddd;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      width: 80%;
      margin: .5rem 10%;
      position: relative;
      height: 50px;
      line-height: 40px;
      opacity: 0.7;
      padding-left: 40px;
      color: #000;
      letter-spacing: 1px;
      font-weight: 900;
      overflow: hidden;

      &:hover {
        opacity: 1;
      };

      &.btn-facebook:before, &.btn-google:before {
        content: "";
        background-repeat: no-repeat;
        background-position: left 0 center;
        background-size: 100% 100%;
        position: absolute;
        left: -2px;
        top: -2px;
        width: 54px;
        height: 54px;
      }

      &.btn-facebook:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 542.2 542.2'%3E%3Ctitle%3E406210-PD16KK-870%3C/title%3E%3Cg id='OBJECTS'%3E%3Cpath d='M457.8-21.1H42.2A63.2,63.2,0,0,0-21.1,42.2V457.8a63.2,63.2,0,0,0,63.3,63.3H457.8a63.2,63.2,0,0,0,63.3-63.3V42.2A63.2,63.2,0,0,0,457.8-21.1ZM357.2,118.5H303.9A21,21,0,0,0,283,139.4v58.1h74.2L345.6,272H283V459.3H205.3V272H142.8V197.5h62.5V139.4a98.8,98.8,0,0,1,98.6-98.7h53.3Z' transform='translate(21.1 21.1)' style='fill:%233b5998'/%3E%3C/g%3E%3C/svg%3E");
      }

      &.btn-google:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 533.5 544.3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z' fill='%234285f4'/%3E%3Cpath d='M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z' fill='%2334a853'/%3E%3Cpath d='M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z' fill='%23fbbc04'/%3E%3Cpath d='M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z' fill='%23ea4335'/%3E%3C/svg%3E");
      }
    }
  }

  &.profile-form {
    fieldset {
      .form-controls {
        margin-top: 1rem;

        .btn {
          &.btn-link {
            float:left;
            line-height: 3rem;
            font-weight: 900;
            text-transform: uppercase;
          }

          &.btn-submit {
            width: auto;
            float: right;
            padding: 0.4rem 1rem;
            margin: 0 0 1.5rem 0;
            background: #44a24b !important;
            font-size: 12pt;
          }
        }
      }
    }
  }

  &.shipping-addresses {
    .header {
      .btn {
        &.btn-add {
          background: #44a24b;
          text-decoration: none;
          font-weight: 900;
          text-transform: uppercase;
          color: $white;
          padding: 0.4rem 1rem;
          top: 1.35rem;
          right: 0;
          font-size: 10pt;
          line-height: 12pt;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .shipping-addresses-list {
      margin-top: 2rem;

      .list-group-item {
        .item-title {
          color: $text-black;
          width: 88%;
          font-size: 0.9rem;
          font-weight: 900;
          text-transform: uppercase;
          display: inline-block;

          .badge {
            color: #AAA;
            font-weight: 100;
          }
        }

        .buttons {
          display: inline-block;
          text-align: right;
          font-weight: 900;
          width: 10%;

          a {
            color: #b53c3c;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .banner-section img {
    width: 120%;
    left: -10%;
    position: relative;
  }
}

@media (max-width: 576px) {
  .mobile-hide {
    display: none !important;
  }
}

// Navbar
#header {
  background: $white;
  @include box_shadow(0 0 1rem -0.9rem $text-black);
}

#main-nav {
  @media (max-width: 991px) {
    .navbar-nav {
      padding-top: 1rem;
    }
  }
}

nav {
  .navbar-toggler {
    font-size: 2rem;
  }

  .navbar-nav {
    &.nav-icons {
      padding-left: 1rem;

      @media (max-width: 991px) {
        padding-left: 0;
        border-top: solid 1px $light-grey;
        border-left: none;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .nav-item {
          padding: 0.125rem 0;
        }
      }
    }

    .nav-item {
      .nav-link {
        color: $light-blue;
        cursor: pointer;
        position: relative;
        font-size: 14pt;
        padding: 0 0.75rem;
        font-weight: 300;

        &:hover {
          color: $dark-blue;
        }
      }

      &.active {
        .nav-link {
          color: $dark-blue;
        }
      }
    }

    .nav-link {
      .nav-icon {
        font-size: 14pt;

        @media (max-width: 991px) {
          font-size: 1rem;
        }
      }

      .nav-text {
        display: none;

        @media (max-width: 991px) {
          display: inline-block;
        }
      }

    }
  }
}

@media (max-width: 991px) {
  nav {
    .navbar-nav {

      &.nav-icons {
        padding-left: 0;
      }

      .nav-link {
        .nav-icon {
          font-size: 1rem;
        }

        .nav-text {
          display: inline-block;
        }
      }
    }
  }
}

// Slider
.slider {
  position: relative;
  height: 1px;
  background: $light-grey;
  width: 100%;
  display: block;
  margin: 20px 0 20px -10px;

  .ranges {
    position: absolute;
    padding-top: 1rem;
    width: calc(100% + 20px);

    .min,
    .max {
      width: 50%;
      color: #777;
      font-size: 12pt;
      font-weight: 900;
      letter-spacing: 2px;
      display: inline-block;
    }

    .min {
      padding-right: 10px;
      text-align: left;
      margin-left: -5px;
      padding-left: 5px;
    }

    .max {
      padding-left: 10px;
      text-align: right;
    }
  }

  .ui-slider-range {
    left: 18%;
    width: 82%;
    background: $medium-grey;
    height: 2px;
    position: relative;
  }

  .ui-slider-handle {
    background: $white;
    width: 20px;
    height: 20px;
    z-index: 10;
    position: absolute;
    top: -9px;
    cursor: grab;
    outline: none;
    border: solid 1px $medium-grey;
    @include border_radius(50%);
  }
}

// Footer
footer {
  background: $dark-blue;
  color: $white;
  font-size: 12pt;
  font-weight: 300;

  .opening-hours {
    strong {
      font-weight: 400;
      font-size: 13pt;
    }
  }

  h4 {
    color: $white;
    font-weight: 400;
    font-size: 15pt;
    text-transform: none;
    margin: 1.5rem 0;
    letter-spacing: 1pt;
  }

  a {
    color: $white;

    &:hover {
      color: $light-blue;
    }
  }

  .footer-menus {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

.credits {
  background: #060C1CFF;
  line-height: 0.9rem;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 300;

  a {
    color: $white;
  }
}

// Collection Page
.collection-header {
  .overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 32pt;
    color: $text-black;
    transform: translateY(-50%);

    @media (max-width: 991px) {
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
}

// Search
.search-page {
  .search-open {
    position: fixed;
    left: -0.6rem;
    top: 40%;
    width: 3rem;
    background: #FFF;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 2rem 0.5rem 2rem 2.9rem;
    margin: 0;
    border: solid 1px $light-blue;
    border-radius: 0.5rem;
    color: $text-color;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 20;
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }

  .search-sidebar {
    .card {
      border: none;
      padding: 0.5rem;
      @include border_radius(0);
      @include box_shadow(0 0 2rem -1.5rem $text-black);

      .card-header {
        cursor: pointer;
        color: $text-black;
        background: none;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        padding-left: 2.5rem;
        position: relative;

        &:before {
          content: "-";
          position: absolute;
          top: 50%;
          transform: translateY(-55%);
          left: 0;
          padding-left: 1rem;
          font-weight: 100;
          font-size: 20pt;
        }

        &.collapsed:before {
          content: "+";
          transform: translateY(-50%);
        }
      }

      .card-body {
        .btn {
          text-align: left;
          text-transform: uppercase;
          color: $text-color;
          &:hover {
            color: $text-black;
          }
        }

        .btn-close {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 24pt;
          display: none;

          @media (max-width: 991px) {
            display: block;
          }
        }
      }
    }

    @media (max-width: 991px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 100%;
      z-index: 999;
      overflow: scroll;
      height: 100%;
      height: 100%;
      background: $white;
      padding: 0;

      .card {
        @include box_shadow(none);
      }

      .search-buttons {
        padding: 0 1rem;
      }

      &.collapsed {
        display: none;
      }
    }

    .reset-btn, .submit-btn {
      text-transform: uppercase;
      padding: 0.75rem 1rem;
      @include border_radius(0);
      border: none;
      text-decoration: none;
      line-height: 1rem;
      display: block;
      margin-bottom: 2rem;

      &:hover {
        cursor: pointer;
      }
    }

    .reset-btn {
      color: $light-blue;
      font-size: 11pt;
    }

    .submit-btn {
      font-size: 10pt;
      background: $dark-blue;
      color: $white;
    }
  }

  .search-data {
    @media (max-width: 991px) {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  .color-swatch {
    .swatch {
      display: block;
      width: 25px;
      height: 25px;
      border: solid 2px #FFF;
      @include border_radius(50%);
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox]:checked + .swatch {
      @include box_shadow(0 0 0 1px $text-black);
    }
  }
}

.review-form {
  width: 100%;
  display: block;

  @media (min-width:992px) {
    border-right: solid 1px #EEE;
    padding-right: 1em;
  }
}

.reviews {
  max-height: 700px;
  overflow-y: scroll;
  width: 100%;
  display: block;

  @media (min-width:992px) {
    padding-left: 1em;
  }
}

.rating {
  &.stars-1, &.stars-2, &.stars-3, &.stars-4, &.stars-5 {
    .star:nth-child(1) {
      background: gold;
    }
  }

  &.stars-2, &.stars-3, &.stars-4, &.stars-5 {
    .star:nth-child(2) {
      background: gold;
    }
  }

  &.stars-3, &.stars-4, &.stars-5 {
    .star:nth-child(3) {
      background: gold;
    }
  }

  &.stars-4, &.stars-5 {
    .star:nth-child(4) {
      background: gold;
    }
  }

  &.stars-5 {
    .star:nth-child(5) {
      background: gold;
    }
  }

  .star {
    margin: auto .1em;

    &:last-child {
      margin-right: auto;
    }

    background: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}

.review {
  margin-bottom: 2em;

  .badge {
    line-height: 1;
    margin: .25em 0 auto;
    padding: .3em 1em;
    font-size: 80%;
    color: #fff;
    background: #167b1e;
    display: inline-block;
    @include border_radius(.25em);
    font-weight: normal;
  }

  .rating {
    margin-bottom: .5em;
  }

  .review-date {
    font-size: 80%;
    color: #999;
    line-height: .8;
  }

  .review-author {
    font-weight: 600;
    margin: 0 auto .25em;
  }

  .review-body {
    margin: 0 auto 0 1em;
  }
}

#product-reviews .review-form .form {
  .rating {
    margin-bottom: 2em;

    .star {
      width: 30px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .review-form-group {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;

    label {
      width: 60px;
      font-weight: 600;
    }

    input, textarea {
      margin-left: 1em;
      width: 100%;
      display: block;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      padding: 5px;
    }

    button {
      margin-left: auto;
      border: none;
      color: #000;
      padding: 12px 40px;
      font-size: 14px;
      margin-top: 1.5rem!important;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      line-height: 1.5;
      margin-bottom: 3rem;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

#review-form-response {
  color: #FFF;
  @include border_radius(.25em);
  padding: .5em 1em;
  margin-bottom: 1em;
  display: none;

  &.error {
    background: #bd1111;
    display: block;
  }
}

.grecaptcha-badge {
  display: none;
}

.order-history{
  justify-content: center;
  text-align: center;

  .orders-table{

    .order-actions{
      a {
        @media(min-width:480px) {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
        }
      }
    }

    thead{
      border: none !important;
    }

    tr{
      border-bottom: 1px black solid;

      td{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

.related-products {
  .title {
    font-size: 16pt;
    font-weight: 300;
  }
}

.contact-banner {
  position: relative;
  display: block;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .container {
    z-index: 10;
    position: relative;
    margin-top: 20%;
  }
}

.contact-details {
  padding: 4rem 2rem;

  background: $light-blue;
  color: $white;
  font-size: 14pt;

  h2 {
    font-weight: 300;
    text-transform: none;
    color: $white;
    margin-bottom: 1rem;
  }

  a {
    color: $white;
  }
}

.contact-form {
  background: $white;
  @include box_shadow(0 0 1rem -0.5rem rgba(0,0,0,0.5));

  .form-control {
    border: none;
    background: $washed-white;
  }

  label {
    font-weight: 400;
    color: $text-black;
  }

  button {
    background: $light-blue;
    color: $white;
    font-weight: 400;
    font-size: 16pt;
  }
}

#search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $dark-blue;
  z-index: 100;

  .close-btn {
    font-size: 15pt;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: $white;
  }

  .form-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    display: flex;

    form {
      width: 80%;
      margin: auto;
      border-bottom: solid 1px $light-blue;
      color: $white;
      padding-bottom: 1rem;

      input {
        background: none;
        border: none;
        padding: 1rem 0.5rem;
        font-size: 18pt;
        letter-spacing: 1pt;
      }

      button {
        @include border_radius(50%);
        font-size: 14pt;
        background: $light-blue;
        border: none;
        color: $white;
        width: 60px;
        height: 60px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

h3.cart-title {
  font-weight: 100;
  font-size: 42pt;
  letter-spacing: 2pt;
}

.cart-card {
  thead {
    th {
      border-bottom: solid 1px $light-blue;
      border-top: none;
      font-weight: 400;
      font-size: 12pt;
      letter-spacing: 1pt;
      padding: 1.5rem 0;
    }
  }

  tbody {
    strong {
      font-weight: 300;
    }

    .prod-title {
      font-size: 12pt;
      letter-spacing: 1pt;
    }

    .qty-cont {
      border: solid 1px $light-blue;
      background: none;
      @include border_radius(0.25rem);
      max-width: 140px;

      a {
        padding: 0.5rem 1rem;

        @media (max-width: 1024px) {
          display: none;
        }
      }

      input {
        text-align: center;
        border: none;
        background: none;
      }
    }
  }

  @media (max-width: 991px) {
    td:first-child {
      width: 0;
      overflow: hidden;
      height: 0;
      opacity: 0;
      padding: 0;

      img {
        display: none;
      }
    }

    td:last-child {
      width: 0;
      overflow: hidden;
      height: 0;
      opacity: 0;
      padding: 0;
    }

    thead {
      th:last-child {
        width: 0;
        overflow: hidden;
        height: 0;
        opacity: 0;
        padding: 0;
      }
    }
  }
}

.cart-totals {
  border: solid 2px $light-blue;
  padding: 2rem;
  margin-bottom: 3rem;

  small {
    line-height: 1.2;
  }

  .btn-checkout {
    padding: 0.5rem 1rem;
    background: $dark-blue;
    font-weight: 400;
    text-transform: none;
    font-size: 12pt;
    margin-top: 2rem;
  }

  strong {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
    font-size: 34pt;
  }
}

.pagination {
  .page-link {
    background: none !important;
    border: none !important;
    color: $text-color;
    font-weight: 300;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $light-blue;
    }
  }

  .page-item{
    &.disabled:not(.active){
      .page-link {
        color: $medium-grey;
        font-weight: 100;
      }
    }

    &.active {
      .page-link {
        color: $light-blue;
      }
    }
  }
}

#filter_cat {
  .list-group {
    .list-group-item {
      border: none;
      padding: 0.125rem 0.75rem;

      background: none;

      &.submenu {
        position: relative;
        display: block;

        ul {
          overflow-y: hidden;
          height: 0;
          transition: ease 0.5s;
        }

        .toggler {
          position: absolute;
          top: -3.25rem;
          right: -1rem;
          padding: 1rem;
          color: $light-blue;
          font-weight: 900;

          &:hover {
            cursor: pointer;
          }
        }

        &.open {
          ul {
            height: auto;
            overflow-y: none;
          }

          .toggler {
            content: '-';
          }
        }
      }

      &.active {
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.custom-section {
  &.about-section, &.services-section {
    line-height: 2.5rem;

    h2 {
      font-size: 32pt;
      font-weight: 200;
    }
  }

  .header-img {
    display: block;
    position: relative;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }

    .overlay {
      display: block;
      position: absolute;
      bottom: 1rem;
      width: 100%;

      h1 {
        font-size: 52pt;
        font-weight: 100;
        letter-spacing: 1pt;
        text-transform: none;
        font-family: "Lexend Deca", sans-serif;
        color: $white;
        
        @media (max-width: 1024px) {
          font-size: 36pt;
        }

        @media (max-width: 640px) {
          font-size: 28pt;
        }
      }
    }
  }

  .products-btn {
    font-weight: 400;
    height: 100%;
    background: $light-blue;
    text-transform: uppercase;
    color: $white;
    font-size: 1.1rem;
    @include border_radius(0);
    text-transform: none;
    letter-spacing: 1pt;
  }
}

.team-members {
  strong {
    font-weight: 200;
    font-size: 22pt;
    line-height: 30pt;
    padding: 1rem 0 0.25rem 0;
  }

  span {
    font-size: 14pt;
  }
}

.cart-icon {
  .badge {
    background: $washed-white;
    font-size: 9pt;
    @include border_radius(50%);
    width: 18pt;
    height: 18pt;
    position: absolute;
    line-height: 12pt;
    border: solid 1px #FFF;
    right: -0.5rem;
    transform: translateY(-50%);
    top: 50%;
    
    @media (min-width: 991px) {
      transform: none;
      top: -0.25rem;
    }
  }
}